@using BlazorTurnstile

<Turnstile @bind-Token="@_turnstileToken"
           SiteKey="1x00000000000000000000AA"
           OnCallback="@TurnstileCallback"
           OnErrorCallback="@TurnstileErrorCallback"
           Theme="@TurnstileTheme.Light"
           Appearance="@TurnstileAppearance.Execute"
           Execution="@TurnstileExecution.Execute"
           @ref="turnstile" />

<button class="btn btn-primary" @onclick="ExecuteTurnstile">Execute Turnstile</button>
<button class="btn btn-secondary" @onclick="ResetTurnstile">Reset Turnstile</button>

<h3 class="mt-3 h4">Token:</h3>
@if (_turnstileToken != null)
{
    @_turnstileToken
}
else
{
    <i>Waiting for execution...</i>
}

@code {
    private Turnstile turnstile = default!;

    private string? _turnstileToken;

    private void TurnstileCallback(string token)
    {
        Console.WriteLine($"Turnstile Token: {token}");
    }

    private void TurnstileErrorCallback(string message)
    {
        Console.WriteLine($"Turnstile Error: {message}");
    }

    private async void ExecuteTurnstile()
    {
        await turnstile.ExecuteAsync();
    }

    private async void ResetTurnstile()
    {
        await turnstile.ResetAsync();
    }
}
