@page "/"
@using BlazorTurnstile

<PageTitle>BlazorTurnstile Samples</PageTitle>

<h1>BlazorTurnstile</h1>

<Turnstile @bind-Token="@_turnstileToken"
           SiteKey="1x00000000000000000000AA"
           Theme="@TurnstileTheme.light"
           OnCallback="@TurnstileCallback"
           OnErrorCallback="@TurnstileErrorCallback"
           ResponseField="@false" 
           @ref="turnstile"/>

<button @onclick="RefreshTurnstile">
    Reload Turnstile
</button>

<h3 class="mt-3">Token</h3>
@if (_turnstileToken != null)
{
    @_turnstileToken
}
else
{
    <i>Loading or error...</i>
}

@code {
    private Turnstile turnstile = default!;

    private string? _turnstileToken;

    private void TurnstileCallback(string token)
    {
        Console.WriteLine($"Turnstile Token: {token}");
    }

    private void TurnstileErrorCallback(string message)
    {
        Console.WriteLine($"Turnstile Error: {message}");
    }

    private async void RefreshTurnstile()
    {
        await turnstile.Reset();
    }

}
